html {
	font-size: 1em;
	/*line-height: 1.4;*/
	font-family: "Montserrat", sans-serif;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
}

header:focus {
	outline: none;
}

section:focus {
	outline: none;
}

section#about,
section#location {
	margin-top: 200px;
	padding: 0 12px;
}

section h3 {
	font-family: 'Dancing Script', cursive;
	margin-bottom: 50px;
	color: #757575;
}

h1 {
	font-size: 3.5em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.8em;
}

/* ==========================================================================
   Styles
   ========================================================================== */

body {
	background: #fff;
	color: #707070;
	font-family: "Lato", sans-serif;
}

aside {
	position: fixed;
	left: 0px;
	width: 580px;
	height: 100%;
	overflow: auto;
	z-index: 1;
}

.hero-image {
	background: url("../img/vertical2.jpg")no-repeat
		center;
	background-size: cover;
	min-height: 100%;
	width: 100%;
}

button {
	background: none;
	border: none;
}

button:focus {
	outline: none;
}

.contain {
	position: relative;
	display: inline-block;
	cursor: pointer;
	z-index: 9999;
}

.brand {
	color: #fff;
}

.bar1,
.bar3 {
	width: 36px;
	height: 2px;
	background-color: #969696;
	border-radius: 4px;
	margin: 5px 0;
	transition: 0.4s;
}

.bar2 {
	width: 25px;
	height: 2px;
	background-color: #969696;
	border-radius: 4px;
	margin: 5px 0px 5px 10px;
	transition: 0.55s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-5px, 5px);
	transform: rotate(-45deg) translate(-5px, 5px);
	/* background: #f44336; */
}

.change .bar2 {
	-webkit-transform: translate(30px, 0px);
	transform: translate(30px, 0px);
	/* background: #f44336; */
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-5px, -5px);
	transform: rotate(45deg) translate(-5px, -5px);
	/* background: #ff5722; */
}

.navbar {
	background: transparent; /*rgba(34, 34, 34, 0.75);*/
	position: fixed;
	right: 0;
	top: 0;
	height: 50px;
	display: flex;
	justify-content: flex-end;
	padding: 0px 20px;
	width: 60%;
	z-index: 99999;
}

button.contain.open-menu {
	background: rgba(255, 255, 255, 0.7);
	padding: 10px;
	margin-top: 20px;
}

.open-menu {
	cursor: pointer;
	transition: transform 0.35s;
	color: #fff;
}

/* ============= Overlay ============= */

.overlay {
	position: fixed;
	background: rgba(255, 255, 255, 0.9);
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.35s, visibility 0.35s, height 0.35s;
	overflow: auto;
	z-index: 9999;
}

.overlay.open {
	opacity: 1;
	visibility: visible;
	height: 100%;
}

.overlay nav {
	position: relative;
	/* height: 45%; */
	top: 300px;
	transform: translateY(-50%);
	text-align: center;
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	left: 1%;
	/* height: 100%; */
}

.overlay ul li {
	vertical-align: middle;
	display: block;
	position: relative;
	opacity: 0;
	margin-bottom: 35px;
	font-size: 3em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 20px;
}

.overlay ul li a {
	display: block;
	position: relative;
	color: #424242;
	text-decoration: none;
	overflow: hidden;
	transition: all 0.4s;
}

.overlay ul li a:hover,
.overlay ul li a:focus,
.overlay ul li a:active {
	color: #000;
	transform: scale(1.1);
}

.overlay.open li {
	animation: fadeInRight 0.5s ease forwards;
	animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) {
	animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(3) {
	animation-delay: 0.45s;
}

.overlay.open li:nth-of-type(4) {
	animation-delay: 0.5s;
}

/* Animation for menu fade in */

@keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 20%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}

/* ==========================================================================
   Main
   ========================================================================== */

main {
	background: rgb(255, 255, 255);
	margin-left: 580px;
	padding: 12px 24px;
}

/* ==========================================================================
  Section 1
  ========================================================================== */

#mobile-image {
	display: none;
}

#title-header {
	top: -15px;
}

.section-1 {
	color: #222;
	margin: 0 auto;
	padding: 200px 4px;
	text-align: center;
}

.section-1 h1 {
    font-family: 'Amatic SC', cursive;
	margin: 0 auto;
	letter-spacing: 2px;
}

.section-1 h2 {
    font-family: 'Amatic SC', cursive;
	text-transform: uppercase;
	font-size: 2em;
}

/* ==========================================================================
  Portfolio - Section 2
  ========================================================================== */
#work header {
	padding: 0 12px;
}

#work header h3 {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 25px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0px 4px;
}

/* Two column layout */

.column {
	flex: 50%; /* Change to create more columns */
	max-width: 50%; /* Change to create more columns */
	padding: 0px 8px;
}

.column img {
	margin-top: 16px;
	vertical-align: middle;
}

img {
	-webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
	filter: grayscale(10%);
}

img {
	width: 100%;
	height: auto;
}

/* ==========================================================================
   About - Section 3
   ========================================================================== */

.about-content span#lead {
	font-weight: 600;
}

#about h3 {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 25px;
}

section#about p {
	line-height: 1.8em;
	letter-spacing: 1px;
	text-align: left;
}

/* ==========================================================================
   Location - Section 4
   ========================================================================== */

#location h3 {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 25px;
}

#location p {
	line-height: 2em;
	margin-bottom: 10px;
}

#location img {
	height: 300px;
}

.contact-info {
	margin-bottom: 20px;
}

.contact-info .col i {
	padding: 20px 0px;
}

/* ==========================================================================
   Contact - Section 5
   ========================================================================== */

section#contact {
	margin-bottom: 100px;
	padding: 0 12px;
}

textarea,
input {
	-webkit-appearance: none;
	border-radius: 0;
}

input,
textarea {
	width: 100%;
	background: transparent;
	padding: 20px 20px 10px 0px;
	color: #222;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	margin-bottom: 30px;
	display: block;
	transition: all 0.35s;
}

input:focus,
textarea:focus,
legend:focus {
	outline: none;
	border: none;
	border-bottom: 1px solid #222;
}

legend {
	color: #b2b2b2;
}

.link-btn-solid {
	background: #9e9e9e;
	width: 25%;
	padding: 20px 0px;
	margin: 20px 0;
	display: block;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.35s;
	cursor: pointer;
	font-weight: 600;
	letter-spacing: 2px;
}

.link-btn-solid:hover {
	background: #616161;
	color: #fff;
}

/* ==========================================================================
   Footer - Section 6
   ========================================================================== */

footer {
	text-align: center;
}

footer .myrow {
	text-align: center;
}

footer i {
	padding: 4px;
	cursor: pointer;
	transition: all 0.35s;
	color: #404040;
}

footer i:hover {
	color: #fff;
}

/* 
==================================================
Grid Layout
================================================== 
*/

.myrow {
	display: flex;
	margin: 0 0 20px 0;
}

.col {
	padding: 20px;
}

.myrow .col {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.myrow-halves,
.myrow-thirds,
.myrow-fourths {
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.myrow-halves .col {
	width: 49%;
}

.myrow-thirds .col {
	width: 32%;
}

.myrow-fourths .col {
	width: 24%;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 960px) {
	button.contain.open-menu {
		margin: 0;
		background: rgba(255, 255, 255, 0.9);
	}

	.navbar {
		width: 100%;
		/* background: rgba(0, 0, 0, 0.8); */
	}

	#mobile-image {
		display: block;
		width: 100%;
		height: auto;
	}

	aside {
		display: none;
	}

	main {
		display: block;
		width: 100%;
		margin: 0 auto;
	}

	.section-1 {
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 150px 0px;
	}

	.section-1 h1 {
		font-size: 3.5em;
	}

	.section-1 h2 {
		font-size: 1.8em;
	}

	.section-1 h3 {
		font-size: 1.2em;
	}

	.navbar,
	.overlay {
		width: 100%;
	}

	.link-btn-solid {
		width: 100%;
	}

	.btt img {
		right: 30px;
	}

	footer nav {
		flex-wrap: wrap;
		width: 100%;
	}

	section#about,
	section#location {
		margin-top: 150px;
		padding: 0 12px;
	}
	.title-header {
		margin-bottom: 70px;
	}
}

/* Work Section Two column layout */

@media (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
}

/* Work Section One column layout */

@media (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
}

/* Overlay Menu */

@media (max-width: 670px) {
	section#about p {
		font-size: 0.875em;
	}

	.overlay nav {
		font-size: 0.875em;
	}
}

@media (max-width: 550px) {
	.overlay nav {
		font-size: 0.75em;
	}
}

/* Grid Layout */

@media (max-width: 800px) {
	.myrow,
	.myrow-halves,
	.myrow-thirds,
	.myrow-fourths {
		display: block;
	}

	.myrow .col,
	.myrow-halves .col,
	.myrow-thirds .col,
	.myrow-fourths .col {
		width: 100%;
		margin: 0 0 10px 0;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	-webkit-clip-path: none;
	clip-path: none;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
	white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 1.25dppx),
	(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}


.rounded-social-buttons {
text-align: center;
}

.rounded-social-buttons .social-button {
display: inline-block;
position: relative;
cursor: pointer;
width: 3.125rem;
height: 3.125rem;
border: 0.125rem solid transparent;
padding: 0;
text-decoration: none;
text-align: center;
color: #fefefe;
font-size: 1.5625rem;
font-weight: normal;
line-height: 2em;
border-radius: 1.6875rem;
transition: all 0.5s ease;
margin-right: auto;
margin-bottom: auto;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
-webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
}

.rounded-social-buttons .fa-facebook-f, .fa-youtube, .fa-instagram {
font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
background: #999999;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
color: #999999;
background: #fefefe;
border-color: #999999;
}


.rounded-social-buttons .social-button.youtube {
background: #999999;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
color: #999999;
background: #fefefe;
border-color: #999999;
}

.rounded-social-buttons .social-button.instagram {
background: #999999;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
color: #999999;
background: #fefefe;
border-color: #999999;
}



